#search {
    padding-top: 18px;
    padding-bottom: 16px;
    padding-right: 17px;
    padding-left: 16px;

}
// input {
//     background: url(../../icon/icon-svg/search/search.svg);
//     background-repeat: no-repeat;
//     background-position: 100% 0;
//     height: 20px;
//     padding-right: 20px;
//   }

//   input::placeholder {
//     background: url(../../icon/icon-svg/search/search.svg) no-repeat;
//     padding-right: 20px;
// }