#side-bar {
    background-color: #1D1D20;
}

.side-bar__list {
    @extend %ul;

}
.side-bar__list {
    height: 60px;

}

.side-bar__button {
    @extend %button;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #1D1D20;
 
    border-radius: 6px;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, :focus  {
        background-color: #8A8B8B;
    };
    &:active  {
        background-color: $active-color;
    } 
    cursor: pointer;
}

.trade__icon {
    display: block;
    margin-top: 9px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 7px;
    fill: $text-color-secondary;
    .side-bar__button:hover & {
        fill: $button-text-color  
    };

}
.portfolio__icon {
    display: block;
    margin-top: 9px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 7px;
   stroke: $text-color-secondary;

   .side-bar__button:hover & {
    stroke: $button-text-color  
}; 
}
.side-bar__button-text {
    @extend %p;
    font-family: inherit;
    font-weight: 500;
    font-size: 11px;
    color: $text-color-secondary;
    &:hover  {
        color: $button-text-color  
    }; 
}