#top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bgc-top-footer;

}

.logo {
    display: block;
    margin-left: 24px;
    margin-top: auto;
    margin-bottom: auto;
}
.top-footer__form {
    margin-right: 43px;
    margin-left: auto;
}
.top-footer__select {
    margin: 0;
    padding: 0;
   margin-right: 5px;
   
    width: 212px;
    height: 36px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
}
.top-footer__button {
    @extend %button;
    width: 120px;
    height: 36px;
    background-color: $text-color;
    color: $button-text-color;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
}
.top-footer__icon {
    display: block;
    margin-right: 24px;
}

