$button-text-color: #FFFFFF;
$text-color: #161717;
$text-color-secondary: #8A8B8B;
$number-color: #045DE9;
$number-color-secondary: #FF4B55;
$active-color: #045DE9;
$bgc-top-footer: #FAFAFA;
$border-color: #F3F3F3;
$title-color-secondary: #A2A2A2;
$bgc-action: rgba(4, 93, 233, 0.07);
$stoke-icon:#A2A2A2;
$input-text-color: #B9B9B9;
$input-bgc: #FAFAFA;
$td-name: #2D2E2E;